* {
  box-sizing: border-box;
}

body {
  background: #e6eff6;
  color: #fff;
  display: grid;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  place-content: center;
  margin: 2.5rem;
}

h1,
h2 {
  font-size: 1.2rem;
}

h1 {
  color: #2ea6a0;
}

h2 {
  color: #bfd849;
}

p {
  color: #a3a5b1;
  font-size: 0.85rem;
  line-height: 2;
}

.heading {
  color: #fff;
}

.price-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
  ;
}

.price-grid>div {
  padding: 1.5rem;
}

.grid__item-1 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
  grid-area: one;
}

.grid__item-2 {
  background-color: #2bb3b1;
  grid-area: two;
}

.grid__item-3 {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #4abebd;
  grid-area: three;
}

.flex-box {
  margin: 1rem 0 0.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.billing-cycle {
  opacity: 0.5;
}

@media (min-width: 40em) {
  .price-grid {
    grid-template-areas:
      'one one'
      'two three';
    margin-inline: 15%;
  }

  .price-grid > div {
    padding: 1.5rem 2.5rem;
  }
  
  .grid__item-2 {
    border-bottom-left-radius: 7px;
  }
  
  .grid__item-3 {
    border-bottom-left-radius: 0;
  }
}

/* Button */

.btn {
  background: #b2d938;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  margin-top: 1.5rem;
  padding: 1em 4em;
  width: 100%;
}

/* List */

ul {
  list-style: none;
  padding-left: 0;
  opacity: 0.8;
}

ul li {
  font-size: 0.85rem;
  line-height: 1.5;
}
